# Get rainfall data from 1998-2015

In [1]:
import pandas as pd

# Đọc dữ liệu từ file Excel
file_path = 'vietnam-rainfall-from-1901-2015-wb.xls'  # Thay thế bằng đường dẫn thực tế đến file Excel của bạn
df = pd.read_excel(file_path)

In [2]:

df.head()

       tas  \tYear   Month  Country   ISO3   ISO2
0  19.7442    1901       1      VNM    NaN    NaN
1  20.2406    1901       2      VNM    NaN    NaN
2  22.1572    1901       3      VNM    NaN    NaN
3  25.3467    1901       4      VNM    NaN    NaN
4  26.7649    1901       5      VNM    NaN    NaN

### remove tab in Year data column

In [3]:
df.columns = df.columns.str.strip()
print(df.columns)

Index(['tas', 'Year', 'Month', 'Country', 'ISO3', 'ISO2'], dtype='object')

### remove the Country, ISO3, ISO2 columns

In [4]:
df = df.drop(columns=['Country', 'ISO3', 'ISO2'])

### Rearrange order

In [5]:
new_order = ['Year', 'Month', 'pr']
df = df[new_order]
df = df.rename(columns={'pr': 'Rainfall'})
df = df[df['Year'] >= 1998]
df.head()

      Year  Month  Temperature
1164  1998      1      21.5527
1165  1998      2      22.4171
1166  1998      3      23.8282
1167  1998      4      26.7089
1168  1998      5      27.9538

# Get temperature data from 2015 - 2022

In [6]:
import numpy as np

In [7]:
file_path2 = 'V01.09.xlsx'  # Thay thế bằng đường dẫn thực tế đến file Excel của bạn
df2 = pd.read_excel(file_path2)

In [8]:
df2.head(30)

,Unnamed: 0,Unnamed: 1,1,2,3,4,5,6,7,8,9,10,11,12
0,2022.0,Lai Châu,15.1,13.7,20.5,21,22,22.9,25.1,24.2,22.8,20.7,19.5,13.9
1,NaN,Sơn La,16.8,14.9,21.8,22.5,23.5,25.1,26.4,25.5,24.1,22.2,21.1,15.1
2,NaN,Tuyên Quang,17.9,15.1,22.1,24.2,25.9,29.7,29.9,29.1,27.8,25,24.7,16.5
3,NaN,Hà Nội (Láng),18.6,15.3,23.1,24.8,26.8,31.4,30.6,29.9,29,26.2,26,17.8
4,NaN,Bãi Cháy,18,14.6,21.6,23.3,25.7,29.2,29.2,28.6,27.8,24.7,24.6,17
5,NaN,Nam Định,18.1,15.1,22.5,23.9,26.4,30.4,29.9,29,28.1,24.8,24.9,17
6,NaN,Vinh,19.5,16.3,23.1,24.3,27.4,31.4,30.1,29,27.9,24.8,24.7,18
7,NaN,Huế,21.6,19.4,24.3,24.6,26.6,29.7,29.1,28.4,27.5,24.7,25.2,20.1
8,NaN,Đà Nẵng,23.2,22.5,25.6,25.7,27.8,30.2,29.6,28.8,28.2,26.2,26.3,22.1
9,NaN,Quy Nhơn,24.8,24.3,26.7,26.9,28.8,29.7,29.7,29.5,28.6,26.9,26.9,24.1
10,NaN,Pleiku,20.4,22,23.5,23.7,23.9,24.6,23.6,23,22.9,22.4,22.3,19.7
11,NaN,Đà Lạt,16.5,17.5,18.6,18.5,19.6,19.7,19.6,19.2,19.1,18.6,18,16.4
12,NaN,Nha Trang,25.1,25.3,26.8,27.1,28.7,29.4,28.9,28.6,28.4,26.8,26.7,24.8
13,NaN,Vũng Tàu,26.5,27.4,28.1,28.8,29,29.3,28,27.8,27.8,27.4,27.4,26.6
14,NaN,Cà Mau,27.1,27.9,28,28.7,28.6,28.7,27.9,27.8,27.4,27.4,27.7,26.6
15,NaN,Hà Nội,..,..,..,..,..,..,..,..,..,..,..,..
16,NaN,Qui Nhơn,..,..,..,..,..,..,..,..,..,..,..,..
17,2021.0,Lai Châu,12.6,17,20.2,21.8,24.5,24.1,23.9,24,23.3,20.4,17,14.2
18,NaN,Sơn La,13.7,18.7,22.1,24.5,26.7,26.2,25.8,26,24.7,21.8,19,15.6
19,NaN,Tuyên Quang,15.5,19.9,22.3,25.3,29.7,30.2,29.9,29.8,28,24.2,20.8,17.9
20,NaN,Hà Nội (Láng),16.9,20.9,22.5,25.6,29.7,31.6,30.8,30.5,28.7,24.6,22.5,19.4
21,NaN,Bãi Cháy,15.7,19.7,21.9,24.9,28.7,30.2,30.1,28.8,27.9,24.2,21.8,18.3
22,NaN,Nam Định,16.1,20.3,22.2,25.2,28.9,30.9,30.1,30.1,27.9,23.7,21.7,18.5
23,NaN,Vinh,16.6,20.2,22.9,26,29.5,31.6,30.6,31.5,27.9,24.3,22,19.2
24,NaN,Huế,18.2,21.1,24.3,26.8,29.4,30.6,30,30.5,27.2,25.2,22.8,20.4
25,NaN,Đà Nẵng,20.3,22.3,25.8,27.5,29.6,31.1,30.9,30.8,27.8,26.8,25.1,22.4
26,NaN,Quy Nhơn,22.4,23.8,26.5,28.1,29.6,30.8,30.2,30.4,28.3,27.7,25.8,24.2
27,NaN,Pleiku,18.6,20.1,23.4,24.6,25.5,24.2,23.5,23.4,23,22.7,22.3,20
28,NaN,Đà Lạt,15.8,16.6,18.3,19,20,19.6,19,19.5,18.8,18.5,18.2,16.1
29,NaN,Nha Trang,23.7,24.3,26.7,27.9,29.1,29.4,29.2,29.2,28,27.6,26.3,25.1

### Replace the values .. to NaN

In [9]:
df2.replace("..", np.nan, inplace=True)
df2.head(30)

,Unnamed: 0,Unnamed: 1,1,2,3,4,5,6,7,8,9,10,11,12
0,2022.0,Lai Châu,15.1,13.7,20.5,21.0,22.0,22.9,25.1,24.2,22.8,20.7,19.5,13.9
1,NaN,Sơn La,16.8,14.9,21.8,22.5,23.5,25.1,26.4,25.5,24.1,22.2,21.1,15.1
2,NaN,Tuyên Quang,17.9,15.1,22.1,24.2,25.9,29.7,29.9,29.1,27.8,25.0,24.7,16.5
3,NaN,Hà Nội (Láng),18.6,15.3,23.1,24.8,26.8,31.4,30.6,29.9,29.0,26.2,26.0,17.8
4,NaN,Bãi Cháy,18.0,14.6,21.6,23.3,25.7,29.2,29.2,28.6,27.8,24.7,24.6,17.0
5,NaN,Nam Định,18.1,15.1,22.5,23.9,26.4,30.4,29.9,29.0,28.1,24.8,24.9,17.0
6,NaN,Vinh,19.5,16.3,23.1,24.3,27.4,31.4,30.1,29.0,27.9,24.8,24.7,18.0
7,NaN,Huế,21.6,19.4,24.3,24.6,26.6,29.7,29.1,28.4,27.5,24.7,25.2,20.1
8,NaN,Đà Nẵng,23.2,22.5,25.6,25.7,27.8,30.2,29.6,28.8,28.2,26.2,26.3,22.1
9,NaN,Quy Nhơn,24.8,24.3,26.7,26.9,28.8,29.7,29.7,29.5,28.6,26.9,26.9,24.1
10,NaN,Pleiku,20.4,22.0,23.5,23.7,23.9,24.6,23.6,23.0,22.9,22.4,22.3,19.7
11,NaN,Đà Lạt,16.5,17.5,18.6,18.5,19.6,19.7,19.6,19.2,19.1,18.6,18.0,16.4
12,NaN,Nha Trang,25.1,25.3,26.8,27.1,28.7,29.4,28.9,28.6,28.4,26.8,26.7,24.8
13,NaN,Vũng Tàu,26.5,27.4,28.1,28.8,29.0,29.3,28.0,27.8,27.8,27.4,27.4,26.6
14,NaN,Cà Mau,27.1,27.9,28.0,28.7,28.6,28.7,27.9,27.8,27.4,27.4,27.7,26.6
15,NaN,Hà Nội,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Qui Nhơn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2021.0,Lai Châu,12.6,17.0,20.2,21.8,24.5,24.1,23.9,24.0,23.3,20.4,17.0,14.2
18,NaN,Sơn La,13.7,18.7,22.1,24.5,26.7,26.2,25.8,26.0,24.7,21.8,19.0,15.6
19,NaN,Tuyên Quang,15.5,19.9,22.3,25.3,29.7,30.2,29.9,29.8,28.0,24.2,20.8,17.9
20,NaN,Hà Nội (Láng),16.9,20.9,22.5,25.6,29.7,31.6,30.8,30.5,28.7,24.6,22.5,19.4
21,NaN,Bãi Cháy,15.7,19.7,21.9,24.9,28.7,30.2,30.1,28.8,27.9,24.2,21.8,18.3
22,NaN,Nam Định,16.1,20.3,22.2,25.2,28.9,30.9,30.1,30.1,27.9,23.7,21.7,18.5
23,NaN,Vinh,16.6,20.2,22.9,26.0,29.5,31.6,30.6,31.5,27.9,24.3,22.0,19.2
24,NaN,Huế,18.2,21.1,24.3,26.8,29.4,30.6,30.0,30.5,27.2,25.2,22.8,20.4
25,NaN,Đà Nẵng,20.3,22.3,25.8,27.5,29.6,31.1,30.9,30.8,27.8,26.8,25.1,22.4
26,NaN,Quy Nhơn,22.4,23.8,26.5,28.1,29.6,30.8,30.2,30.4,28.3,27.7,25.8,24.2
27,NaN,Pleiku,18.6,20.1,23.4,24.6,25.5,24.2,23.5,23.4,23.0,22.7,22.3,20.0
28,NaN,Đà Lạt,15.8,16.6,18.3,19.0,20.0,19.6,19.0,19.5,18.8,18.5,18.2,16.1
29,NaN,Nha Trang,23.7,24.3,26.7,27.9,29.1,29.4,29.2,29.2,28.0,27.6,26.3,25.1

### Add a header and replace the NaN years with the Year of the previous row

In [10]:
df2.columns = ['Year', 'Location'] + [str(i) for i in range(1, 13)]

# Chuyển các cột nhiệt độ từ kiểu object sang kiểu số
df2.iloc[:, 2:] = df2.iloc[:, 2:].astype(float)

# Thay thế các giá trị NaN trong năm dựa vào giá trị hàng trước đó
df2['Year'].fillna(method='ffill', inplace=True)

print(df2[:30])

      Year       Location     1     2     3     4     5     6     7     8  \
0   2022.0       Lai Châu  15.1  13.7  20.5  21.0  22.0  22.9  25.1  24.2
1   2022.0         Sơn La  16.8  14.9  21.8  22.5  23.5  25.1  26.4  25.5
2   2022.0    Tuyên Quang  17.9  15.1  22.1  24.2  25.9  29.7  29.9  29.1
3   2022.0  Hà Nội (Láng)  18.6  15.3  23.1  24.8  26.8  31.4  30.6  29.9
4   2022.0       Bãi Cháy  18.0  14.6  21.6  23.3  25.7  29.2  29.2  28.6
5   2022.0       Nam Định  18.1  15.1  22.5  23.9  26.4  30.4  29.9  29.0
6   2022.0           Vinh  19.5  16.3  23.1  24.3  27.4  31.4  30.1  29.0
7   2022.0            Huế  21.6  19.4  24.3  24.6  26.6  29.7  29.1  28.4
8   2022.0        Đà Nẵng  23.2  22.5  25.6  25.7  27.8  30.2  29.6  28.8
9   2022.0       Quy Nhơn  24.8  24.3  26.7  26.9  28.8  29.7  29.7  29.5
10  2022.0         Pleiku  20.4  22.0  23.5  23.7  23.9  24.6  23.6  23.0
11  2022.0         Đà Lạt  16.5  17.5  18.6  18.5  19.6  19.7  19.6  19.2
12  2022.0      Nha Trang  25.1  25.3  26.8  27.1  28.7  29.4  28.9  28.6
13  2022.0       Vũng Tàu  26.5  27.4  28.1  28.8  29.0  29.3  28.0  27.8
14  2022.0         Cà Mau  27.1  27.9  28.0  28.7  28.6  28.7  27.9  27.8
15  2022.0         Hà Nội   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
16  2022.0       Qui Nhơn   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
17  2021.0       Lai Châu  12.6  17.0  20.2  21.8  24.5  24.1  23.9  24.0
18  2021.0         Sơn La  13.7  18.7  22.1  24.5  26.7  26.2  25.8  26.0
19  2021.0    Tuyên Quang  15.5  19.9  22.3  25.3  29.7  30.2  29.9  29.8
20  2021.0  Hà Nội (Láng)  16.9  20.9  22.5  25.6  29.7  31.6  30.8  30.5
21  2021.0       Bãi Cháy  15.7  19.7  21.9  24.9  28.7  30.2  30.1  28.8
22  2021.0       Nam Định  16.1  20.3  22.2  25.2  28.9  30.9  30.1  30.1
23  2021.0           Vinh  16.6  20.2  22.9  26.0  29.5  31.6  30.6  31.5
24  2021.0            Huế  18.2  21.1  24.3  26.8  29.4  30.6  30.0  30.5
25  2021.0        Đà Nẵng  20.3  22.3  25.8  27.5  29.6  31.1  30.9  30.8
26  2021.0       Quy Nhơn  22.4  23.8  26.5  28.1  29.6  30.8  30.2  30.4
27  2021.0         Pleiku  18.6  20.1  23.4  24.6  25.5  24.2  23.5  23.4
28  2021.0         Đà Lạt  15.8  16.6  18.3  19.0  20.0  19.6  19.0  19.5
29  2021.0      Nha Trang  23.7  24.3  26.7  27.9  29.1  29.4  29.2  29.2

       9    10    11    12
0   22.8  20.7  19.5  13.9
1   24.1  22.2  21.1  15.1
2   27.8  25.0  24.7  16.5
3   29.0  26.2  26.0  17.8
4   27.8  24.7  24.6  17.0
5   28.1  24.8  24.9  17.0
6   27.9  24.8  24.7  18.0
7   27.5  24.7  25.2  20.1
8   28.2  26.2  26.3  22.1
9   28.6  26.9  26.9  24.1
10  22.9  22.4  22.3  19.7
11  19.1  18.6  18.0  16.4
12  28.4  26.8  26.7  24.8
13  27.8  27.4  27.4  26.6
14  27.4  27.4  27.7  26.6
15   NaN   NaN   NaN   NaN
16   NaN   NaN   NaN   NaN
17  23.3  20.4  17.0  14.2
18  24.7  21.8  19.0  15.6
19  28.0  24.2  20.8  17.9
20  28.7  24.6  22.5  19.4
21  27.9  24.2  21.8  18.3
22  27.9  23.7  21.7  18.5
23  27.9  24.3  22.0  19.2
24  27.2  25.2  22.8  20.4
25  27.8  26.8  25.1  22.4
26  28.3  27.7  25.8  24.2
27  23.0  22.7  22.3  20.0
28  18.8  18.5  18.2  16.1
29  28.0  27.6  26.3  25.1

C:\Users\Phat\AppData\Local\Temp\ipykernel_13768\3928838267.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2['Year'].fillna(method='ffill', inplace=True)

### Find the average monthly rainfall value of localities in 1 year

In [11]:
avg_temp_by_month_year = df2.groupby('Year')[df2.columns[2:]].mean()
avg_temp_by_month_year.head(30)

,1,2,3,4,5,6,7,8,9,10,11,12
Year,,,,,,,,,,,,
2016.0,20.286667,19.126667,22.153333,26.013333,27.593333,28.260000,27.873333,27.640000,26.853333,25.906667,23.506667,21.446667
2017.0,20.993333,20.853333,22.946667,25.073333,26.773333,28.053333,27.006667,27.360000,27.253333,24.913333,22.820000,19.900000
2018.0,20.166667,19.580000,22.933333,24.646667,27.460000,27.700000,27.460000,27.233333,26.753333,25.100000,23.733333,21.680000
2019.0,20.233333,23.046667,24.053333,27.006667,27.680000,28.946667,28.280000,27.713333,26.533333,25.386667,23.153333,20.513333
2020.0,21.533333,21.553333,24.553333,24.380000,28.406667,28.826667,28.413333,27.613333,27.413333,24.533333,23.593333,20.433333
2021.0,18.486667,21.120000,23.653333,25.680000,27.960000,28.553333,28.026667,28.093333,26.473333,24.506667,22.713333,20.326667
2022.0,20.613333,19.420000,23.753333,24.533333,26.046667,28.093333,27.840000,27.226667,26.493333,24.586667,24.400000,19.713333

### Combine 2 data to 1998-2022

In [12]:
# Chuyển bảng thành dạng bạn mong muốn
stacked_df = avg_temp_by_month_year.stack().reset_index()

# Đặt lại tên cột
stacked_df.columns = ['Year', 'Month', 'Rainfall']

# Xuất bảng đã chuyển đổi
print(stacked_df)

      Year Month  Temperature
0   2016.0     1    20.286667
1   2016.0     2    19.126667
2   2016.0     3    22.153333
3   2016.0     4    26.013333
4   2016.0     5    27.593333
..     ...   ...          ...
79  2022.0     8    27.226667
80  2022.0     9    26.493333
81  2022.0    10    24.586667
82  2022.0    11    24.400000
83  2022.0    12    19.713333

[84 rows x 3 columns]

In [13]:
merged_df = pd.concat([df, stacked_df], ignore_index=True)

merged_df.head(30)

      Year Month  Temperature
0   1998.0     1      21.5527
1   1998.0     2      22.4171
2   1998.0     3      23.8282
3   1998.0     4      26.7089
4   1998.0     5      27.9538
5   1998.0     6      27.9290
6   1998.0     7      27.7233
7   1998.0     8      27.7586
8   1998.0     9      27.0006
9   1998.0    10      25.8023
10  1998.0    11      23.6378
11  1998.0    12      21.7578
12  1999.0     1      20.4104
13  1999.0     2      21.8445
14  1999.0     3      23.1617
15  1999.0     4      25.6748
16  1999.0     5      25.8575
17  1999.0     6      27.2385
18  1999.0     7      27.2233
19  1999.0     8      27.0586
20  1999.0     9      26.4061
21  1999.0    10      25.2426
22  1999.0    11      22.7070
23  1999.0    12      18.8341
24  2000.0     1      20.8595
25  2000.0     2      20.0468
26  2000.0     3      22.2888
27  2000.0     4      25.4443
28  2000.0     5      26.2898
29  2000.0     6      26.7480

# Export average rainfall data of Vietnam from 1998-2022

In [14]:
merged_df.to_csv('vietnam-rainfall-handled-data.csv', index=False)